.container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    justify-items: end;
    
}

#header{
    background: steelblue;
    text-align: center;
    border-top: 0;
    margin-top: 0;
}
#jumbo{
    background: steelblue;
}
.container div p{
    text-align: center;
}
img{
    border: 1px solid gray;
}