.sidebar {
  height: 100%;
  width: 300px;
  position: relative;
  z-index: 1;
  left: 0;
  background-color: rgb(25, 104, 221);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display:block;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #060555;
  /* display: block; */
  transition: 0.3s;
}

.sidebar a.active {
  color: #e7ebfa;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display:none;
}

.openbtn {
  display:none;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(19, 26, 121);
  color: white;
  padding: 10px 15px;
  border: none;
}
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:rgb(10, 10, 10);
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-container {
  display: none;
  
  padding-left: 2px;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  width:1000px;
  transition: margin-left .5s;
  padding: 16px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 710px) {
  .sidebar {padding-top: 15px;
  width:0;
  position:fixed;
display:none;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
  .sidebar a {font-size: 18px;}
  .openbtn { display:block;}
  .sidebar .closebtn {display:block;}
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}