
body{
    font-family: 'Muli', sans-serif;
   font-style: normal;
   min-height: 100vh;
   line-height: 1.857;
}
.about-feature h1{
    font-weight: bolder;
    margin-left:7px;
    color: rgb(13, 28, 102);
    

}
.about-feature img{
    width:550px;
    height:500px;
    margin-right:20px;
    margin-left:70px;
    margin-top: -80px;
}
.banner{
    width: 100%;
    padding-top:45px;
    padding-bottom: 109px;
    height: ;
    background-color: #2B4CF2;
    color: #FFFFFF;
}

.about-container{
    margin: 0px 74px;
    padding: 0 15px;
}
.about-text h2 {
    font-size: 3.71429em;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: -.2px;
    text-align: center;
}
.about-text p{
    
    text-align: center;
    font-size: 1.57143em;
    margin-bottom: 15px;
    line-height: 1.5;
}

.content-section{
    padding:100px 0px;
    
}
.lead {
    font-size: 1.14286em;
}

.lead p{
    text-align: justify;
    font-weight: ;
}

.address p{
    text-align: justify;
    font-weight: ; 
}

.nav-item {
    margin: 0 27px;
    color: #000;
}

.nav-link{
    color: #000 !important;
}
.sign-up-btn  {
    
    margin-top: 15px;
}

.btn-primary{
    background: #2B4CF2;
    width: 100px;
    color: #FFF !important;
    border-radius: 0;
    color: #FFF !important; 
}




.main-btn{
    background: #2B4CF2;
    color: #FFFFFF;
    width: 350px;
    height: 50px;
    border-radius: 11px;
}

.main-btn a{
    text-emphasis: none;
    color:#FFFFFF
}



.welcome{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80vh;
   
    /* margin: 150px 0;
     */
    
}

.create__account{
    width: 18rem;
    height: 3rem;
}

.welcome-text h3{
    font-size: 36px;
    color: #000;
}

.intro__text{
    margin-top: 15px;

}

.intro__text p{
    margin-bottom: 0;
}

.get__started__section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: c; */
}


.header-brandname a{
    color: #000;
    font-size: 20px;
    
}

.single-about-card{
    background: #FFF;
    border-bottom: 2px solid #040268;
    
}

.about-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}


.single-about-card:nth-child(odd){
    border-bottom: 2px solid #FD4720;
}

.features-header{
    margin-top: 50px;
    font-weight: bold;
}

.feature-section{
    color: #000;
    background: #9C9C9C;
}

.feature-section h3{
    background: #fff;
}

.features {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 20px;
    background: #9C9C9C;
    z-index: 2;
    color: #fff;
    margin: 50px 0;
    padding: 50px 0;
} 

.sign-btn{
    background: #2B4CF2;
    color: #FFFFFF;
    width: 350px;
    height: 50px;
    border-radius: 11px;
}


@media(max-width:761px){

    .welcome-text{
        font-size: 30px;
       
    }
    .get__started__section {
        order: 2;

        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
}

@media(max-width:570px){


    .get__started__section{
        order: 2;
    }
  
    .main-btn{
        width: auto;
        font-size: 12px;
    }

    .features{
        display: block;
    }
    .about-card{
        display: block;
    }
    .single-about-card{
        margin-bottom: 10px;  
    }
    .welcome-text{
        font-size: 20px
    }



@media(max-width:600px){

    .single-about-card{
        margin: 10px 0;  
    }
}